@model ProjectApp.Models.ProjectModel

@{
    ViewData["Title"] = "Radera";
}

<h1>Radera</h1>
<div>
    <h4>Projekt</h4>
    <hr>
    <p class="text-danger">Är du säker på att du vill radera detta projekt?</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @if (Model.ImageName != "-")
            {
                <img src="~/images/@Model.ImageName" alt="@Model.Title" class="w-50 border rounded">
            }
            else
            {
                @Html.DisplayFor(model => model.ImageName)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Techniques)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Techniques.Any())
            {
                foreach (var technique in Model.Techniques)
                {
                    <span>@technique.Name</span>
                }
            }
            else
            {
                <span>-</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id">
        <input type="submit" value="Radera" class="btn btn-danger">
        <a asp-action="Index" class="btn btn-success">Gå tillbaka</a>
    </form>
</div>
